<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/components/items.css">
    <link rel="stylesheet" href="../../styles/components/admin/navigation.css">
    <title>My Rent</title>
</head>
<body>
    <nav>
        <a href="/client/store">Store</a>
        <a href="/client/rent">My Rent</a>
        <a href="/client/store/my-account">My Account</a>
    </nav>
    <main class="items">
        <% cars.forEach(car => { %>
            <div class="card">
            <img src="<%= car.imageUrl %>" />
            <div class="main">
                <label class="title"><%= car.name %></label>
                <label class="color"><%= car.color %></label>
            </div>
            <label class="price">Daily: <%= car.dailyPrice %> | Value: <%= car.value %></label>
            <label class="price">Initial: <%= car.rent.initialDate %> | Final: <%= car.rent.finalDate %> </label>
            <label class="price"><%= car.rent.status %></label>
        </div>
        <% }); %>
    </main>
</body>
</html>